<ion-view view-title="Chats">
  <md-content>
    <md-list>
      <md-item ng-repeat="item in todos">
        <md-item-content>
          <div class="md-tile-left">
          </div>
          <div class="md-tile-content">
            <h3>{{item.what}}</h3>
            <h4>{{item.who}}</h4>
            <p>
              {{item.notes}}
            </p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
          <md-button class="md-fab md-primary md-hue-1" aria-label="Profile">
            <i class="icon ion-plus-round"></i>
        </md-button>
</ion-view>


